[submodule "luakit/plugins"]
	path = luakit/plugins
	url = git://git.kaictl.net/pub/wgiokas/luakitplugins.git
	branch = wgiokas
[submodule "vim"]
	path = vim
	url = git://github.com/KaiSforza/vimrc.git
[submodule "zsh/zsh-syntax-highlighting"]
	path = zsh/zsh-syntax-highlighting
	url = http://github.com/zsh-users/zsh-syntax-highlighting
